@media screen and (max-width: 900px){
	h1{
		font-size: 3em;
	}
	.nav-menu a{
		font-size: 1em;
		padding: 15px 10px 15px 10px;
	}
	.article{
		height: 220px;
	}
	.photo-circle{
		width: 140px;
		height: 140px;
	}
	main h3{
		font-size: 2em;
	}
	.button-mail{
		padding: 12px 34px 11px 35px;
	}
	.wrapper-main{
		height: 600px;	
	}
	.button-footer{
	padding: 12px 34px 11px 35px;
	}
	.text span{
		font-size: 2em;
	}
	.text p{
		width: 60%;
	}
	.footer-nav{
		width: 70%;
	}
}
