@media screen and (max-width: 660px){
	.nav-menu a{
		font-size: 0.9em;
	}
	h1{
		font-size: 2.5em;
		margin-top: 25px;
	}
	.article h2{
		font-size: 1.8em;
	}
	.article p{
		padding: 0 24px 0 26px;
	}
	.wrapper-bg{
		height: 600px;	
	}
	.photo-circle{
		width: 120px;
		height: 120px;
	}
	.wrapper-main{
		height: 700px;
	}
	main{
		margin-top: -98px;
	}
	.main-item{
		line-height: 2;
	}
	main h3{
		font-size: 1.8em;
	}
	.text{
		padding-top: 50px;
	}
	.text h3{
		font-size: 1.8em;
	}
	.text span{
		font-size: 1.8em;
	}
	.text p{
		line-height: 20px;
		font-size: 0.75em;
		width: 70%;
	}
	.footer-nav a{
		font-size: 1.1em;
	}
	.footer-bottom p{
		font-size: 0.6em;
	}
	.footer-bottom-copyright{
		padding: 17px 0 17px 0;
	}
}

