@media screen and (max-width: 540px){
	.nav-menu a{
		font-size: 0.6em;
	}
	h1{
		font-size: 1.5em;
	}
	.article h2{
		font-size: 1.1em;
	}
	.article p{
		padding: 5px 14px 5px 16px;
		font-size: 0.7em;
		line-height: 16px;
	}
	.wrapper-bg{
		height: 500px;
	}
	.photo-circle{
		width: 100px;
		height: 100px;
	}
	.wrapper-main{
		height: 980px;
	}
	main{
		margin-top: -80px;
		width: 60%;
		margin-left: -30%;
	}
	main h3{
		font-size: 1.2em;
	}
	.button-mail{
		padding: 6px 17px 6px 17px;
		font-size: 1em;
	}
	.text h3,
	.text span{
		font-size: 1.5em;
	}
	.text p{
		width: 100%;
	}
	.button-footer{
		padding: 6px 17px 6px 17px;
		font-size: 1em;
		margin-bottom: 50px;
	}
	.footer-nav{
		width: 90%;
	}
	.footer-nav a{
		font-size: 0.8em;
	}
	.footer-bottom-copyright{
		width: 90%;
	}
	.footer-bottom p{
		font-size: 0.5em;
	}
	.footer-bottom-copyright{
		padding: 10px 0 10px 0;
	}
}