*{
	margin: 0;
	padding: 0;
}
@font-face{
	font-family: "Nimbus San T Con Bold";
	src: url(fonts/NIMBSTB.TTF);
}
@font-face{
	font-family: "Helvetica Neue Cyr - Black";
	src: url(fonts/HelveticaNeueCyr-Black.otf);
}
@font-face{
	font-family: "Arial MT";
	src: url(fonts/HelveticaNeueCyr-Roman.otf);
}
@font-face{
font-family: "Helvetica Neue Cyr - Bold";
src: url(fonts/HelveticaNeueCyr-Bold.otf);
}
@font-face{
font-family: "Helvetica Neue Cyr - Light";
src: url(fonts/HelveticaNeueCyr-Light.otf);
}
@font-face{
	font-family: "Helvetica Neue Cyr";
	src: url(fonts/HelveticaNeueCyr-Thin.otf);
}
.wrapper-bg{
	background-image: url(img/bg_top.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 870px;
	background-attachment: fixed;
}
.mobail-menu{
	display: none;
}
.logo{
	width: 351px;
	height: 172px;
	border-radius: 50% 50% 0 0 / 100% 100% 0 0;
	background: #fff;
	text-align: center;
	margin: auto;
}
.logo img{
	padding-top: 34px;
	width: 226px;
	height: 122px;
}
.line-top{
	background-image: url(img/line_top.png);
	background-position: center center;
	background-size: cover;
	height: 32px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -5px;
	position:relative;
	z-index: 55522222;
}
.container-top{
	width: 75%;
	margin: auto;
	padding-top: 17px;
}
.nav_block{
	margin: auto;
	background-image: url(img/bg_gradient.png);
	background-position: top center;
	background-size: cover;
	margin-top: -30px;
	background-repeat: no-repeat;
}
.nav-menu{
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 56.77%;
	margin: auto;
	margin-top: -2.5%;
}
.nav-menu a{
	text-decoration: none;
	font-family: Nimbus San T Con Bold;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.188em;
	padding: 20px 15px 20px 15px;
	margin-top: 5px;
}
.nav-menu a:hover{
	background: #e46107;
	border-radius: 0 0 5px 5px;
	z-index: 1;
}
h1{
	text-shadow: 0 0 6px rgba(31, 88, 0, 0.75);
	color: #f1f2f5;
	font-family: "Helvetica Neue Cyr - Black";
	font-size: 4em;
	width: 80%;
	margin: auto;
	margin-top: 50px;
	text-align: center;
}
.article{
	background-size: auto;
	border-radius: 5px;
	background-color: #26311c;
	opacity: 0.7;
	margin-top: 10px;
	text-align: center;
	line-height: 2;
}
.article h2{
color: #f1f2f5;
font-family: "Helvetica Neue Cyr";
font-size: 2.125em;
font-weight: 300;
}
.article p{
color: #ffffff;
font-family: "Arial MT";
font-size:0.875em;
line-height: 25px;
padding: 0 44px 35px 46px;
}
.line-bg-center{
	width: 100%;
	border: none;
	outline: 4px solid #e46107;
}
.wrapper-main{
	background-color: #26311c;
	background-size: 100%;
	height: 800px;
}
main{
	width: 75%;
 	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	    justify-content: center;

	-ms-flex-wrap: wrap;

	    flex-wrap: wrap;
	margin-top: -128px;
	left: 50%;
	margin-left: -37.5%;
}
.photo-circle{
	width: 207px;
	height: 207px;
	border-radius: 100%;
	border: 6px solid #fff;
	background-size: cover;
  background-position: 50% 50%;
  margin-top: 25px;
}
.PottingSoil{
	background-image: url(img/PottingSoil.jpg);
}
.PeatMoss{
	background-image: url(img/PeatMoss.jpg);
}
.Fertilizers{
	background-image: url(img/Fertilizers.jpg);
}
.Mulch{
	background-image: url(img/Mulch.jpg);
}
.Compost{
	background-image: url(img/Compost.jpg);
}
main h3{
	font-family: "Helvetica Neue Cyr";
	color: #f1f2f5;
	font-size: 2.125em;
	font-weight: 300;
}
.button-mail{
text-decoration: none;
color: #ffffff;
font-family: "Nimbus San T Con Bold";
font-size: 1.188em;
font-weight: 400;
text-transform: uppercase;
border: 2px solid #a1ad97;
border-radius: 5px;
padding: 22px 44px 21px 45px;
}
.button-mail:hover{
color: #8dc705;
border: 2px solid #8dc705;

}
.main-item{
	text-align: center;
	line-height: 3;
	margin-left: 55px;
}
.footer-bg{
	background-image: url(img/bg_footer.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}
.text{
	width: 75%;
	margin: auto;
	padding-top: 98px;
}
.text h3{
font-family: "Helvetica Neue Cyr - Light";
font-size: 2.152em;
font-weight: 300;
}
.text span{
	color: #48890a;
	font-family: "Helvetica Neue Cyr - Bold";
	font-size: 54px;
	font-weight: 700;
}

.text p{
color: #000000;
font-family: "Arial MT";
font-size: 0.875em;
font-weight: 400;
line-height: 25px;
width: 40%;
padding-top: 30px;
}
.button-footer{
	color: #48890a;
	border: 2px solid #48890a;
	text-decoration: none;
	font-family: "Nimbus San T Con Bold";
	font-size: 1.188em;
	font-weight: 400;
	text-transform: uppercase;
	border-radius: 5px;
	padding: 22px 44px 21px 45px;
	display: inline-block;
	margin-top: 25px;
	margin-bottom: 97px;
}
.button-footer:hover{
	color: #fff;
	border: 2px solid #fff;
}
.line-footer{
	border: none;
	width: 100%;
	outline: 4px solid #7da83c;;
}
.footer-nav{
	width: 39.45%;
	margin: auto;
	margin-top: 24px;
	margin-bottom: 26px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.footer-nav a{
	text-decoration: none;
	color: #7b7b7b;
	font-family: "Nimbus San T Con Bold";
	font-size: 1.188em;
	text-transform: uppercase;
}
.footer-nav a:hover{
	color: #8dc705;
}
.footer-bottom{
	background-color: #e4e4e4;
}
.footer-bottom-copyright{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 75%;
	margin: auto;
	padding: 27px 0 27px 0;
}
.footer-bottom p{
color: #919191;
font-family: "Arial MT";
font-size: 0.75em;
}


@media screen and (max-width: 1228px){
	h1{
		width: 90%;
	}
}

@media screen and (max-width: 1113px){
	
	.main-item{
		margin-left: 25px;
	}
.article p{
	line-height: 20px;
}
	h1{
		font-size: 3.7em;
	}
.text span{
	font-size: 2em;
}
.text p{
	width: 50%;
}
.footer-nav{
	width: 60%;
}
}
@media screen and (max-width: 1024px){
	h1{
		font-size: 3.5em;
	}
}
@media screen and (max-width: 993px){
	h1{
		font-size: 3.2em;
	}
	main{
		width: 80%;
		margin-left: -40%;
		justify-content: space-around;
	}
	.footer-bg{
		background-position: 20% 50%;
	}
}
@media screen and (max-width: 931px){
.wrapper-main{
	height: 1050px;
}
.main-item{
	line-height: 2.5;
}
}
@media screen and (max-width: 890px){
h1{
	font-size: 3.1em;
	width: 95%;
}
.footer-nav a{
	font-size: 1em;
}
.article h2{
	font-size: 2em;
}
.article p{
	padding: 0 24px 25px 26px;
}
.text p{
	width: 70%;
}
.nav-menu{
	display: none;
	text-align: left;
	margin-left: 20px;
}
.mobail-menu{
	display: block;
	color: #fff;
	font-size: 2em;
	padding: 10px 0 0 10px;
}
.responsive{
	display:flex;
	flex-direction: column;

}
.nav-menu a{
	padding: 5px 0 5px 20px;
}
.nav-menu a:hover{
	border-radius: 0 0 0 0;
}
}
@media screen and (max-width: 755px){
	h1 {
		font-size: 2.8em;

	}
.article h2{
	font-size: 1.8em;
}
}
@media screen and (max-width: 704px){
h1{
	font-size: 2.5em;
}
}
@media screen and (max-width: 627px){
.wrapper-main{
	height: 1800px;
}
.footer-nav{
	width: 80%;
}
.text{
	padding-top: 50px;
}
.text p{
	width: 80%;
}
.article{
	line-height: 1.5;
}
}
@media screen and (max-width: 486px){
	.logo{
	width: 250px;
	height: 121px;
}
h1{
	font-size: 2em;
	margin-top: 25px;
}
.logo img{
	width: 150px;
	height: 81.3px;
}
.container-top{
	width: 90%;
}
.text span{
	font-size: 1.8em;
}
.text p{
	width: 90%;
}
.footer-nav{
	width: 95%;
}
}
